@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');
/* ====================================================
                      CSS RESETS
=======================================================*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ============================================================ */
// variable 
$ff : 'Poppins', sans-serif; 
$primary-clr : hsl(240, 97%, 65%);
$primary-accent-clr: hsl(240, 100%, 73%);

*{
  font-family: $ff;
}

@mixin flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: rgb(194, 194, 194);
    @include flexBox()
}
.content{
    margin: 0 2.1rem;
}
.card{
    width: 20rem;
    border-radius: 1.6rem;
    background-color: #fff;
    .img-container{
        row-gap: 0.2rem;
        position: relative;
       
        .overlay{
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background-color: $primary-clr;
          border-radius: 1.6rem 1.6rem 0 1.6rem;
          &::before{
            content: '';
            position: absolute;
            height: 2rem;
            width: 2rem;
            background-color: $primary-clr;
            right: 0;
            bottom: -2rem;
            clip-path: polygon(50% 0%, 100% 43%, 100% 0);            
          }
        }
        .card-image{
          position: relative;
          height: 9.1rem;
          width: 9.1rem;
          border-radius: 50%;
          padding: 0.1em;
          background: #fff;
          
          .img{
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: 50%;
              border: 0.3rem solid $primary-clr;
              transition: all 1s ease;
              cursor: pointer;
              &:hover{
                transform: scale(1.1);
                width: 100%;
              }
              }
          }
    }
    .img-container,
    .content-cotainer{
        padding: 0.7em 0.9em;
        @include flexBox();
        flex-direction: column;
        .profile-name{
            font-size: 1.2rem;
            font-weight: 500;
            color: rgb(61, 36, 20);
        }
        .description{
            text-align: center;
            font-size: 0.9rem;
            font-weight: 400;
            color: black
        }
        .button{
            background-color: $primary-accent-clr;
            color: #eee;
            font-size: 1rem;
            border: none;
            padding: 0.5em 1em;
            margin: 0.9rem;
            border-radius: 0rem;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            &:hover,
            &:focus{
              border-radius:0.5rem;
              background-color: $primary-clr;
            }
        }
       
    }
}







